html, body {
    height: 100%;
	position: relative;
	box-shadow: 0 0 200px rgba(0, 0, 0, 0.27) inset;
	color: #fff;
	font-family: "Lucida Sans Unicode", Verdana;
    background-color: #361281;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='464' height='464' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%233f1a8a' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23411c90'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
}

.flex-grow {
   flex: 1;
}

a, a:hover {
	color: #6fbcff;
}

.h-05 {height: 0.5% !important;}
.mainTitle {font-size: 6rem;}
.padding20 {padding: 20px;}
.padding40 {padding: 40px;}
.blueBackground {background-color: #ffffff26; padding: 60px;}
.navbar-default .navbar-toggle {border: 0;}
.navbar-light .navbar-nav .nav-link { color: #777;}
.navbar-light .navbar-brand { color: #fff;} 
.navbar-expand-lg .navbar-nav .navf-link {padding: 1.5em 1em;}
.nav li > a { padding: 20px;}

.navbar li {
	font-size: 16px;
	text-transform: small-caps;
	margin-right: 5px;
}

.navbar, .navbar-collapse {
	border: 0;
	background: none;
	padding-top: 10px;
}

ul.nav.navbar-nav.navbar-right li a:hover, ul.nav.navbar-nav.navbar-right li.active a {
	color: #cecece;
	background: none;
	border-bottom: 1px solid #6fbcff;
}

.footer {
    color: #999;
    font-size: 13px;
    padding: 20px;
}

@media (min-width: 300px) and (max-width: 767px) {
    .mainTitle {font-size: 20px !important;}
    .vertical-center { 
      height:20%;
      width:100%;
      text-align: center;
    }
}

.card-custom{overflow:hidden;min-height:450px;border:0;box-shadow:0 0 15px rgba(10,10,10,0.3)}
.card-custom-img{height:200px;min-height:200px;background-repeat:no-repeat;background-size:cover;background-position:center;border-color:inherit}
.card-custom-img::after{position:absolute;content:'';top:161px;left:0;width:0;height:0;border-style:solid;border-left-width:calc(575px - 5vw);border-color:transparent transparent transparent inherit;border-width:40px 0 0 545px}
.card-custom-avatar img{border-radius:50%;box-shadow:0 0 15px #9b169aba;position:absolute;top:100px;left:1.25rem;width:120px;height:120px;background-color:#591762d6}
.card-text:last-child{margin-bottom:0;color:#000}
.glow-on-hover{width:100%;height:50px;border:none;outline:none;color:#fff;background:#111;cursor:pointer;position:relative;z-index:0;border-radius:10px}
.glow-on-hover:before{content:'';background:linear-gradient(45deg,red,#ff7300,#fffb00,#48ff00,#00ffd5,#002bff,#7a00ff,#ff00c8,red);position:absolute;top:-2px;left:-2px;background-size:400%;z-index:-1;filter:blur(5px);width:calc(100% + 4px);height:calc(100% + 4px);animation:glowing 20s linear infinite;opacity:0;transition:opacity .3s ease-in-out;border-radius:10px}
.glow-on-hover:active{color:#000}
.glow-on-hover:active:after{background:transparent}
.glow-on-hover:hover:before{opacity:1}
.glow-on-hover:after{z-index:-1;content:'';position:absolute;width:100%;height:100%;background:#111;left:0;top:0;border-radius:10px}
@keyframes glowing {
0%{background-position:0 0}
50%{background-position:400% 0}
100%{background-position:0 0}
}
.green{background-color:#2ecc71;padding:10px 25px;transition:all .3s ease;position:relative;display:inline-block}
.green:hover{background-color:#00000}
.rounded h2{background:linear-gradient(to bottom,#cfc09f 22%,#c5c0b9 24%,#cfc09f 26%,#cfc09f 27%,#ffecb3 40%,#bf8715 78%);-webkit-background-clip:text;-webkit-text-fill-color:transparent;color:#fff;position:relative;text-transform:uppercase;font-size:1.5vw;margin:0;font-weight:900;text-align:center}
.rounded a,a:hover{color:#213d7a}
.rounded li{font-size:small;color:#121826}
.checked-casino{list-style:url(/casinos/img/checked.svg)}
.rounded p{font-size:small;color:#121826}
.rounded b{color:#272954;font-weight:700}
.glow{font-size:20px;color:#fff;text-align:center;animation:glow 1s ease-in-out infinite alternate}
@-webkit-keyframes glow {
from{text-shadow:0 0 10px #fff,0 0 20px #fff,0 0 30px #0cf098,0 0 40px #0c89f0,0 0 50px #18ed51,0 0 60px #0e12ed,0 0 70px #b9ed0c}
to{text-shadow:0 0 20px #fff,0 0 30px #ff4da6,0 0 40px #ff4da6,0 0 50px #ff4da6,0 0 60px #ff4da6,0 0 70px #ff4da6,0 0 80px #ff4da6}
}
.btn-15{border:2px solid #000;z-index:1}
.btn-15:after{position:absolute;content:"";width:0;height:100%;top:0;left:0;direction:rtl;z-index:-1;background:#000;transition:all .3s ease}
.btn-15:hover{color:#fff}
.btn-15:hover:after{left:auto;right:0;width:100%}
.btn-15:active{top:2px}
.link{text-decoration:bold;color:#00000;transition:.3s;-webkit-transition:.3s;-moz-transition:.3s;-o-transition:.3s}
.table-success,.table-success>td,.table-success>th{background-color:#673ab745}